[Desktop Entry]
Name=Pi-APRS
GenericName=Pi-ARPS by KM4ACK
Comment=Pi-APRS by KM4ACK
Exec=/home/pi/Pi-APRS/pi-aprs
Icon=/home/pi/Pi-APRS/ISS.png
Terminal=true
Type=Application
Categories=HamRadio;
